@page "/SWAPI"
@using BlazorApp2.Components;
@inject ISwApiService _SwApiService;
@inject IDebounceService _debounceService;
@inject ApiExceptionService _apiExceptionService;

<PageTitle>Star Wars Characters</PageTitle>

@if (_errorMessage != String.Empty)
{
    isModalVisible = true;
    <ErrorModal IsVisible="isModalVisible" ErrorMessage="@_errorMessage" OnClose="CloseModal"/>
}

<div class="component-background">

    @* --- Header Glowing+SubText as Loading Indicators --- *@
    <div class="loader-container">
        <div class="title-loader">
            <h1 class="@((isLoading || IsFiltering) ? "loading-title" : "h1-sw") user-select-none">Star Wars Characters</h1>
            <div class="loading-text user-select-none">
                @if (isLoading || IsFiltering)
                {
                    @(isLoading ? "Fetching Data..." : "Filtering Data...")
                }
                <!-- Empty -->
                &nbsp;
            </div>
        </div>
    </div>
    <hr />

    <div class="mb-3 ">
        <button class="btn-sw" @onclick="ClearFilters">Reset all filters</button>
    </div>

    <div class="star-wars-table-container user-select-none">
        <table class="star-wars-table" style="width: 100%; table-layout: fixed">
            <thead>
                <tr>
                    <th>
                        <div class="header-container-sw">
                            <span class="fs-5">Name</span>
                            <div class="search-field-sw">
                                <input class="form-control"
                                type="text"
                                @bind="_inputFilterName"
                                @bind:event="oninput"
                                @bind:after="ApplyFiltersAsync"
                                placeholder="Search by name..." />
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="header-container-sw">
                            <span class="fs-5">Species</span>
                            <div class="search-field-sw">
                                <input class="form-control"
                                type="text"
                                @bind="_inputSpeciesName"
                                @bind:event="oninput"
                                @bind:after="ApplyFiltersAsync"
                                placeholder="Search by species..." />
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="header-container-sw">
                            <span class="fs-5 ">Planet</span>
                            <div class="search-field-sw">
                                <input class="form-control"
                                type="text"
                                @bind="_inputPlanetName"
                                @bind:event="oninput"
                                @bind:after="ApplyFiltersAsync"
                                placeholder="Search by planet..." />
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var person in _paginatedPersonList)
                {
                    <tr @onclick="() => ToggleDetails(person)">
                        <td>@person.Name</td>
                        <td>@string.Join(", ", person.Species.Select(s => s.Name))</td>
                        <td>@person.Planet.Name</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

    <PersonModal Person="_selectedModalPerson" IsVisible="isModalVisible" OnClose="CloseModal" />

    <div class="text-center m-3">
        <button class="btn-sw" @onclick="PreviousPage" disabled="@(!CanGoToPreviousPage)">Previous</button>
        <span class="mx-2 text-white user-select-none">Page @CurrentPage of @TotalPages</span>
        <button class="btn-sw" @onclick="NextPage" disabled="@(!CanGoToNextPage)">Next</button>
    </div>
    <hr />
</div>



@code {
    //Pagination
    private int PageSize { get; set; } = 10;
    private int CurrentPage { get; set; } = 1;
    private List<People> _paginatedPersonList = new();
    private bool CanGoToPreviousPage => CurrentPage > 1;
    private bool CanGoToNextPage => CurrentPage < TotalPages;
    private int TotalPages => Math.Max(1, (int)Math.Ceiling((double)_filteredPersonList.Count / PageSize));

    private void LoadPage(int pageNumber)
    {
        var skip = (pageNumber - 1) * PageSize;
        _paginatedPersonList = _filteredPersonList.Skip(skip).Take(PageSize).ToList();
    }

    private void NextPage()
    {
        if (CanGoToNextPage)
        {
            CurrentPage++;
            LoadPage(CurrentPage);
        }
    }

    private void PreviousPage()
    {
        if (CanGoToPreviousPage)
        {
            CurrentPage--;
            LoadPage(CurrentPage);
        }
    }

    //Modal State
    private People _selectedModalPerson = null;
    private bool isModalVisible = false;

    private void ToggleDetails(People person)
    {
        _selectedModalPerson = (_selectedModalPerson == person) ? null : person;
        OpenModal();
    }

    private void OpenModal()
    {
        isModalVisible = true;
    }

    private void CloseModal()
    {
        _errorMessage = string.Empty;
        isLoading = false;
        IsFiltering = false;
        isModalVisible = false;
        _selectedModalPerson = null;
    }

    //UI State
    private bool isLoading = false;
    private bool IsFiltering = false;
    private string _errorMessage = String.Empty;

    //Filters
    private string? _inputFilterName;
    private string? _inputSpeciesName;
    private string? _inputPlanetName;

    private void ClearFilters()
    {
        _inputFilterName = string.Empty;
        _inputSpeciesName = string.Empty;
        _inputPlanetName = string.Empty;
        _filteredPersonList = new List<People>(_personList);

        LoadPage(CurrentPage);
    }

    // Debouncing :-)
    private async Task ApplyFiltersAsync()
    {
        await _debounceService.DebounceAsync(async () =>
        {
            IsFiltering = true;
            _filteredPersonList = await _SwApiService.FilterPeopleList(_personList, _inputFilterName, _inputSpeciesName, _inputPlanetName);
            CurrentPage = 1;
            LoadPage(CurrentPage);
        });
        IsFiltering = false;
    }

    //
    private List<People> _personList = new();
    private List<People> _filteredPersonList = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            isLoading = true;
            StateHasChanged();
            // Task.Delay(2000); //loading animation display
            _personList = await _SwApiService.GetPeopleList();
            _filteredPersonList = new List<People>(_personList);
            _debounceService = new DebounceService();
            LoadPage(CurrentPage);
            isLoading = false;
            await base.OnInitializedAsync();
        }
        catch (ApiServiceException ex)
        {
            _errorMessage = _apiExceptionService.GetUserFriendlyErrorMessage(ex);
        }
        catch (Exception ex)
        {
            _errorMessage = "An unexpected error occurred. Please try again later.";
        }
    }
}
